*/dist/**
pnpm-lock.yaml
pnpm-workspace.yaml
fe/src/locales/**
**/generated/**
**/.next/**

**/dist/**
**/node_modules/**
**/build/**
**/coverage/**
**/public/**
**/.next/**
**/.vite/**

**/locales/**

.yarnrc.yml

.tmp/**

packages/tools/do/.checks/**
